.user-badge-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
  } 
  
.user-badge-item {
  
  background-color: #d64e4e;
  border-radius: 16px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.875rem;
}

.user-badge-item:hover {
  background-color: #c7c7c7;
}

.user-badge-item .user-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}

.user-badge-item .user-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-name {
  flex-grow: 1;
}

.close-icon {
  color: #ff1744;
}