.my-chats-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 87%;
  border: 5px solid  rgb(181, 219, 189);
  border-radius: 8px;
  background-color: #f9f9f9;
  padding: 16px;
}

@media (min-width: 768px) {
  .my-chats-container {
      width: 30%;
  }
}

.my-chats-box {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 5px 24px 24px 24px;
  background-color: white;
  width: 100%;
  flex-grow: 1;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.my-chats-title {
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
  margin: 12px;
  background-color: #b6fdc2;
  border-radius: 100px;
  align-items: center;
  color: rgb(177, 102, 172);
  font-weight: 600;
  padding: 4px;
  text-align: center;
}

.chat-item {
  border: 1px solid rgb(194, 190, 194);
  border-radius: 19px;
  cursor: pointer;
  background-color: rgb(232, 232, 250);
  color: #333333;
  padding: 16px 32px;
  margin-bottom: 8px;
}

.chat-item:hover {
  background-color: #f0f0f0;
}

.chat-item.selected {
  background-color:  rgb(127, 127, 226);
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid rgb(14, 14, 227);
}

.chat-item.selected:hover {
  background-color: rgb(88, 88, 220);
}

@media (max-width: 767px) {
  .my-chats-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 87%;
    flex-grow: 1;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 16px;
  
  }

  .chat-item {
      padding: 12px 24px;
  }
}
