.add-user-group-button {
    margin: 1rem;
    font-size: 16px;
  }
  
  .dialog-container {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
  }
  
  .dialog-form-control {
    margin: 1rem;
    min-width: 120px;
  }
  
  .dialog-button {
    font-size: 16px;
    color: black;
  }
  
  .dialog-cancel-button {
    color: red;
    margin: 1rem;
  }
  