.single-chat-container {
  font-size: 28px;
  padding: 24px 16px;
  width: 100%;
  font-family: 'work-sans';
  display: flex;
  border-radius: 8px;
  align-items: center;
  flex-direction: row;
  position: relative;
  background-color: #a8ebb3;
}

.single-chat-back-icon {
  display: flex;
  cursor: pointer;
  left: 16px;
  border-radius: 5px;
  width: 20%;
  
}

.single-chat-profile-modal {
  display: flex;
  align-self: center;
  width: 80%;
  text-align: center;
  margin-left: 200px;
  text-wrap: nowrap;
}

.single-chat-message-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh);
  overflow: hidden;
  background-color: white;
  border-radius: 8px;
  width: 100%;
}

.single-chat-loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.single-chat-messages {
  flex-grow: 1;
  overflow-y: auto;
  padding: 16px;
  background-color: #f0f0f0;
  border-radius: 8px;
  max-height: calc(100vh - 250px);
}

.single-chat-message.own {
  text-align: left;
  background-color: #bee3f8;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  word-wrap: break-word;

}

.single-chat-message.other {
  text-align: right;
  background-color: #b9f5d0;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  word-wrap: break-word;

}

.single-chat-message-caption {
  font-size: 12px;
  color: gray;
}

.single-chat-message-caption.own {

  text-align: left;
}

.single-chat-message-content {
  font-size: 16px;
  color: #333;
  /* Dark text color for better readability */
}

.single-chat-message-input {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.single-chat-message-input-container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 8px;

}

.single-chat-input-field {
  flex-grow: 1;
  border-radius: 10px;
  width: 80%;
  height: 80%;
}

.single-chat-send-button {
  height: 80%;
  width: 20%;
}

.single-chat-empty-chat {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 120px);
}

.single-chat-empty-chat-message {
  font-size: 20px;
  color: #666;
  /* Subtle color for the empty chat message */
}

/* Responsive styles */
@media (max-width: 768px) {
  .single-chat-header {
    font-size: 24px;
    padding: 16px;
  }

  .single-chat-message {
    font-size: 14px;
  }

  .single-chat-message-input-container {
    flex-direction: column;
    gap: 4px;
  }

  .single-chat-input-field {
    width: 100%;
  }

  .single-chat-send-button {
    width: 100%;
    padding: 8px;
  }
}

@media (max-width: 480px) {
  .single-chat-header {
    font-size: 20px;
    padding: 12px;
  }

  .single-chat-message {
    font-size: 12px;
  }


  .single-chat-message-input {
    flex-direction: column;
    padding: 8px;
  }

  .single-chat-input-field {
    width: 100%;
  }

  .single-chat-send-button {
    width: 100%;
    padding: 8px;
  }
}